<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Restablecimiento de Contraseña - Metrocal</title>

  </head>
  <body>
    <h3>Restablecimiento de Contraseña - Metrocal</h3>
    <p>Hola {{user}},</p>
    <p>Recibes este correo electrónico de Metrocal porque has solicitado
      restablecer tu contraseña.</p>
    <p>Por favor, utiliza el siguiente código para cambiar tu contraseña:</p>
    <h1>{{code}}</h1>
    <p>Si no has solicitado restablecer tu contraseña, puedes ignorar este
      correo electrónico de forma segura.</p>
    <p>¡Gracias por ser parte de Metrocal!</p>
  </body>
</html>